body {
    background: none repeat scroll 0 0 #444444;
    font-family: arial,verdana,sans-serif;
    margin: 0;
}
#container {
    background: #ffffff;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    bottom: auto;
    clear: both;
    left: 50%;
    margin-left: -390px;
    position: absolute;
    right: auto;
    top: 0;
    width: 780px;
}
#container #intro #pageHeader {
    background: url("images/header.png") no-repeat scroll 0 0 transparent;
    height: 311px;
    width: 780px;
}
#container #intro #pageHeader h1 {
    display: block;
    height: 311px;
    margin: 0;
    padding: 0;
    text-indent: -2000px;
}
#container #intro #pageHeader h2 {
    display: none;
}
#container #intro, #container #supportingText {
    width: 550px;
}
#footer {
    position: absolute;
    right: 0;
    text-align: center;
    top: 140px;
    width: 260px;
}
#container #linkList {
    background: transparent;
    position: absolute;
    right: 0;
    top: 290px;
    width: 240px;
}
#container #linkList2 {
    padding: 18px 35px 0 23px;
}
#container #linkList h3 {
    height: 19px;
    margin: 10px 0 0 10px;
    padding: 0;
    text-indent: -2000px;
    width: 180px;
}
#container #linkList h3.regles {
    background: url("images/t_regles.png") no-repeat scroll 0 0 transparent;
}
#container #linkList h3.perso {
    background: url("images/t_perso.png") no-repeat scroll 0 0 transparent;
}
#container #linkList h3.licences {
    background: url("images/t_licences.png") no-repeat scroll 0 0 transparent;
}
#container #linkList ul {
    list-style: none outside none;
    margin: 10px 0 20px 20px;
    padding: 0;
}
#container #linkList ul li {
    color: #000000;
    font-size: 11px;
    margin: 0 0 9px;
    padding: 0 0 0 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;    
}
#container #linkList ul li a {
    color: #426279;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
#container #linkList ul li a:hover {
    color: #21313C;
}
#container #linkList #lselect ul li a {
    display: block;
}
#container #linkList #lselect ul li a.c {
    color: #FFFFFF;
    display: inline;
    font-size: 10px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
#container #linkList #lselect ul li a.c:hover {
    text-decoration: none;
}
#container #quickSummary {
    font-family: "Lucida Grande","Trebuchet MS",Verdana,Arial,sans-serif;
    margin: 0 0 0 42px;
    padding: 0;
    position: relative;
    top: -40px;
}
#container #quickSummary p {
    color: #D65200;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 10px;
}
#container #quickSummary p a {
    border-bottom: 1px dotted #9E3E02;
    color: #9E3E02;
    text-decoration: none;
}
#container #quickSummary p a:hover {
    border-bottom: medium none;
}
#container #preamble h3 {
    background: url("images/t_jdrl.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin: 0 0 0 42px;
    padding: 0;
    text-indent: -2000px;
    width: 299px;
}
#container #preamble p, #container #supportingText p {
    color: #444444;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 13px 42px;
}
#container #supportingText #esprits h3 {
    background: url("images/t_esprits.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 10px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 187px;
}
#container #supportingText #garous h3 {
    background: url("images/t_garous.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 6px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 125px;
}
#container #supportingText #meute h3 {
    background: url("images/t_meute.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 10px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 125px;
}
#container #supportingText #pacte h3 {
    background: url("images/t_pacte.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 6px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 125px;
}
#container #supportingText #humains h3 {
    background: url("images/t_humains.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 6px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 125px;
}
#container #supportingText #contact h3 {
    background: url("images/email.jpg") no-repeat scroll 0 0 transparent;
    height: 20px;
    margin: 40px 0 6px 42px;
    padding: 0;
    text-indent: -2000px;
    width: 300px;
}
#container #preamble p a, #container #supportingText p a {
    border-bottom: 1px dotted #9E3E02;
    color: #9E3E02;
    text-decoration: none;
}
#container #preamble p a:hover, #container #supportingText p a:hover {
    border-bottom: medium none;
}
